<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Library</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="http://sprk-platform.github.io/sprkFramework/engine/css/sprkFramework.css">
  <link rel="stylesheet" href="/css/theme.css">
</head>
<body class="<%= bodyClass %>">
  <header>
    <div class="pure-g">
      <div class="pure-u-1">
        <a href="/books">My Library</a>
      </div>
    </div>
  </header>
<div class="pure-g">
  <div class="pure-u-1">
